body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(240, 248, 255, 0.69);
    text-shadow:
        0 0 8px rgba(0,0,0,0.8),
        0 0 10px black;
}

.box {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10em;
    padding: 2em 25em 25em 25em;
    width: 35em;
    height: 20em;
    text-align:center;
}

.box audio {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
}

.box h1 {
    margin-top: 0;
    text-decoration-line: overline underline;
}

.badges img {
    width: 32px;
    height: 32px;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}