body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 68, 68);
    background-color: rgb(37, 37, 37);
}

.topnav {
    background-color: rgb(65, 65, 65);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(141, 119, 130, 0.466);
    padding: 1em;
    margin: 1em;
    overflow: hidden;

}

a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    cursor:grab;
    text-decoration: underline;
}

.topleft a {
    padding: 0.2em;
    float: left;
    color: rgb(180, 180, 180);
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    background-color: #5e5e5e;;
    border-radius: 6px;
}

.topright a {
    padding: 0.3em;
    float: right;
    color: rgb(180, 180, 180);
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
    background-color: #5e5e5e;;
    border-radius: 6px;
}

.topnav a:hover {
    padding: 0.35em;
    background-color: #dddddd36;
    border-radius: 6px;
    color: rgb(207, 207, 207);
}

.textbox {
    background-color: rgb(65, 65, 65);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(141, 119, 130, 0.466);
    margin: 2em;
    padding: 1em;
    text-align: center;
    color: rgb(219, 219, 219);
    overflow: hidden;

}

.textbox li {
    background-color: #5e5e5e;
    margin: 1em auto;
    padding: 1em;
    border-radius: 6px;
    overflow: auto;
    width: 80%;
}

.textbox h1 {
    font-weight: bold;
    text-align: center;
    padding: 1em;
}

.textbox li:hover {
    background-color: #8a8a8a36; /* dddddd36 */
    border-radius: 6px;
    cursor:pointer;
}

.textbox img {
    border-radius: 8px;
    border: 1px solid #e4c0e2;
}

.date {
    float: right;
    padding: 1em;
}

.date + br {
    clear: both;
}

.title {
    font-size: 22px;
    font-weight: bold;
}